---
import BaseLayout from '../layouts/BaseLayout.astro';
import SidebarNav from '../components/SidebarNav.astro';
import DefinitionList from '../components/DefinitionList.astro';
import { overEmfNavItems } from '../data/overEmfNav.ts';
---

<BaseLayout title="Contact" description="Contacteer vzw Ernest Mandelfonds.">
  <Fragment slot="aside">
    <SidebarNav
      backHref="/"
      sectionLabel="Over EMF"
      sectionHref="/over-emf"
      currentPage="contact"
      navItems={overEmfNavItems}
    />
  </Fragment>

  <DefinitionList>
    <dt class="font-bold">e-mail</dt>
    <dd><a href="mailto:info@ernestmandelfonds.be" class="underline-offset-2 hover:text-[#111111]">info@ernestmandelfonds.be</a></dd>
    <dt class="font-bold">social media</dt>
    <dd><div class="flex flex-col gap-1"><a href="https://www.facebook.com/p/Ernest-Mandelfonds-vzw-61575587833328/" class="underline-offset-2 hover:text-[#111111]" target="_blank" rel="noopener">facebook</a><a href="https://www.instagram.com/ernestmandelfondsvzw/" class="underline-offset-2 hover:text-[#111111]" target="_blank" rel="noopener">instagram</a></div></dd>
  </DefinitionList>
</BaseLayout>
